.main-heading-wrapper h3 > span{
    font-family: 'Mulish', sans-serif;
    display: block;
    color: #f9a119;
    font-size: 1.5rem;
    padding-bottom: 8px;
}

.formElemntsWrapper input{
    font-size:14px;
}
.formElemntsWrapper label{
    padding-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
}

.formElemntsWrapper span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}
.formElemntsWrapper input:invalid[focused="true"]{
    border: 1px solid red;
}

.formElemntsWrapper input:invalid[focused="true"] ~ span{
    display: block;
}