.main-heading-wrapper h3 > span{
    font-family: 'Mulish', sans-serif;
    display: block;
    color: #f9a119;
    font-size: 1.5rem;
    padding-bottom: 8px;
}

.formElemntsWrapper input{
    font-size:14px;
}
.formElemntsWrapper label{
    padding-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
}